label live
	menu label Kodachi Live
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet nosplash
	

label livesplash
	menu label Splash Screen - Logo
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet splash
	
label livesmp
	menu label Safe - smp noapic
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet nosplash smp noapic
	
label livenpapic
	menu label Safe - nosmp noapic
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet nosplash nosmp noapic
	
	
label live
	menu label Command prompt 
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet text

label livefailsafe
	menu label Live (failsafe)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config noapic noapm nodma nomce nolapic pci=nomsi nomodeset radeon.modeset=0 nouveau.modeset=0 nosmp vga=normal splash

label memtest
	menu label memtest - Run memtest
	kernel /isolinux/memtest.bin
	append -

label hd
	menu label hd - boot the first hard disk
	localboot 0x80
	append -




