[Desktop Entry]
Version=1.0
Type=Application
Name=Install Kodachi Permenently
Comment=
Exec=sudo bash /home/kodachi/.kbase/Install-Kodachi-Permenently
Icon=text-x-install
Path=
Terminal=false
StartupNotify=false
Name[en_US]=Install_Kodachi_Offline.desktop
