[Desktop Entry]
Version=1.0
Type=Application
Name=Install_Kodachi_Online.desktop
Comment=
Exec=sudo bash /home/kodachi/.kbase/Install-Kodachi-Permenently-online
Icon=jdownloader
Path=
Terminal=false
StartupNotify=false
